<ion-grid>
  <ion-row>
    <ion-col>
      <img *ngIf="hasImage" class="question-image" src="{{ question.imageSrc }}" height="200">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="question-text">
        {{ question.key | translate }}
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-80 offset-10>
      <button ion-button icon-left class="audio-button" (click)="playAudio()">
        <ion-icon name="volume-up"></ion-icon>
        {{ 'LISTENAUDIO' | translate }}
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-50 *ngFor="let option of question.options">
      <button ion-button color="{{ option.color }}" class="answer-button" icon-left (click)="choiceMade(option.transKey)">
        <ion-icon name="{{ option.icon }}"></ion-icon>
        {{ option.transKey | translate }}
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
