lang-choice {
  .lang-flag {
    height: 106px;
  }
  ion-card {
    text-align: center;
    .lang-name {
      font-size: 200%;
      font-weight: bolder;
    }
    ion-icon{
      font-size: 250%;
    }
  }
}
