<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-button class="menuButton" *ngIf="this.patientService.noPatient" (click)="openPage(pselect)" menuClose>Select Patient</button>
      <ion-searchbar (ionInput)="getSearchItems($event)"></ion-searchbar>
      <ion-item-group *ngIf="searchActive">
        <ion-item-divider>Results</ion-item-divider>
        <ion-item *ngIf="searchItems?.length == 0">No results</ion-item>
        <button menuClose ion-item *ngFor="let si of searchItems" (click)="openQuestionPage(si)">
          {{ si.englishName }}
        </button>
      </ion-item-group>
      <ng-container *ngIf="!searchActive">
        <ion-item-group >
          <accordion-list [name]="'Pages'"
                          [items]="pageStrings()"
                          (itemClicked)="openPageByString($event)">

          </accordion-list>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>Questions</ion-item-divider>
            <accordion-list *ngFor="let c of categories"
                            [name]="c.name"
                            [items]="questionService.getQuestionStringsForCategory(c)"
                            (itemClicked)="openMenuItem($event)"
            >
            </accordion-list>
        </ion-item-group>
      </ng-container>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
